<app-navbar></app-navbar>
<h1 class="page-title">Group Buy - Signup</h1>
<form
  class="needs-validation w-100 mt-5"
  [class.was-validated]="submitted"
  [formGroup]="signupForm"
  (ngSubmit)="signup()"
  novalidate
>
  @if(errorMessage) {
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  } @if (incorrect) {
  <div class="alert alert-danger" role="alert">
    Please check if all fields are filled in correctly
  </div>
  }
  <div class="row w-100 px-5">
    <div class="col-4 px-5">
      <div
        class="avatar-container d-flex h-100"
        style="flex-direction: column; justify-content: center"
      >
        <div
          class="image-container mx-auto"
          [style.background-image]="'url(' + avatar + ')'"
        ></div>
        <label for="avatar-input-file">
          <div class="icon-wrapper">
            <input
              type="file"
              id="avatar-input-file"
              accept="image/*"
              (change)="onFileChange($event)"
            />
          </div>
        </label>
      </div>
    </div>
    <div class="col-4 px-5">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          id="username"
          name="username"
          required
        />
        <div class="invalid-feedback">Username is required</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          class="form-control"
          formControlName="password"
          type="password"
          id="password"
          name="password"
          required
        />
        <div class="invalid-feedback">Password is required</div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          class="form-control"
          formControlName="passwordConfirm"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
        <div class="invalid-feedback">Confirm Password is required</div>
      </div>

      <div>
        <label for="email" class="form-label">Email</label>
        <input
          class="form-control"
          formControlName="email"
          type="email"
          id="email"
          name="email"
          required
        />
        <div class="invalid-feedback">Email is required</div>
      </div>
    </div>
    <div class="col-4 px-5">
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input
          class="form-control"
          formControlName="telephoneNumber"
          type="text"
          id="phone"
          name="phone"
          required
        />
        <div class="invalid-feedback">Phone is required</div>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select
          class="form-select"
          formControlName="role"
          id="role"
          name="role"
          required
        >
          <option value="" disabled selected>Select Role</option>
          <option value="buyer">Buyer</option>
          <option value="broker">Broker</option>
        </select>
        <div class="invalid-feedback">Role is required</div>
      </div>

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          class="form-control"
          formControlName="firstName"
          type="text"
          id="firstName"
          name="firstName"
          required
        />
        <div class="invalid-feedback">First Name is required</div>
      </div>

      <div>
        <label for="lastName" class="form-label">Last Name</label>
        <input
          class="form-control"
          formControlName="lastName"
          type="text"
          id="lastName"
          name="lastName"
          required
        />
        <div class="invalid-feedback">Last Name is required</div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <button type="submit" class="btn btn-primary mt-3 col-3">Signup</button>
  </div>
</form>
