.bg-green {
  background-color: #4CAF50; /* This is a green color */
  color: green;
}

.bg-red {
  background-color: #FF0000; /* This is a red color */
  color: red;
}

.bg-yellow {
  background-color: orange; /* This is a red color */
  color: orange;
}
