@if(!role) {
<app-navbar></app-navbar>
}
<div
  class="card mb-3 mt-3 single-list"
  style="max-width: 90%; height: auto; margin: 0 auto"
>
  @if(item) {
  <!-- <div class="text-center">
    <h4>Listing details</h4>
  </div> -->
  <p></p>
  <div class="clearfix m-2">
    <img
      [src]="item.image"
      class="col-md-5 float-md-start mb-3 me-md-3 rounded"
      style="
        margin-right: 10px;
        margin-left: 10px;
        height: 200px;
        object-fit: scale-down;
      "
    />

    <div>
      <h3 class="card-title">{{ item.title }}</h3>
    </div>

    <div class="card-body">
      <p class="card-text text-break">{{ item.description }}</p>
    </div>

    <table class="table table-bordered text-center mb-3">
      <tr>
        <th scope="col">Owner</th>
        <th scope="col">Location</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Group Participants</th>
        <th scope="col"></th>
      </tr>
      <tr class="">
        <td class="text-center">
          <!-- TODO: item.brokerName -->
          <a href="#">{{ "mario" }}</a>
        </td>
        <td>
          <div>{{ item.location }}</div>
        </td>
        <td>
          <div>{{ item.unitPrice }} €</div>
        </td>
        <td
          [ngClass]="{
            'bg-green': item.subscribedPeople < item.availablePieces,
            'bg-red': item.subscribedPeople >= item.availablePieces,
            'bg-yellow':
              item.availablePieces - item.subscribedPeople <=
              item.availablePieces * 0.2
          }"
        >
          <div class="bg-green bg-red bg-yellow rounded">
            {{ item.subscribedPeople }} / {{ item.availablePieces }}
          </div>
        </td>
        <td>
          @if(role ==='buyer' && !joined){
          <a
            class="btn"
            role="button"
            style="background-color: aquamarine"
            (click)="joinGroupBuy(item.id)"
            >Join Group Buy
          </a>
          } @else if(role === 'buyer' && joined){
          <a
            class="btn"
            role="button"
            style="background-color: rgb(255, 255, 52)"
            (click)="leaveGroupBuy(item.id)"
            >Leave Group Buy
          </a>
          }
        </td>
      </tr>
    </table>
    @if (role === 'broker' && isOwner) {
    <div class="text-center">
      <div class="text-center">
        <app-broker-module-single-group
          class="text-center"
        ></app-broker-module-single-group>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="text-center">
    <h4>Item not found</h4>
  </div>
  }
</div>
