<div class="list-group overflow-auto shadow m-3">
  @if (participants.length === 0) {
  <div class="text-center">
    <p class="mt-2">No participants yet</p>
  </div>
  } @else {
  <table style="height: 60px">
    <thead>
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Surname</th>
        <th style="width: 15%">Username</th>
        <th style="width: 15%">Email</th>
        <th style="width: 15%">Phone Number</th>
        <th style="width: 15%">Send a Message</th>
      </tr>
    </thead>
  </table>
  <div style="max-height: 450px; overflow-y: auto">
    <table class="table table-striped" style="width: 100%">
      <tbody class="text-center">
        @for (participant of participants; track participant.id){
        <tr class="text-center">
          <td style="width: 20%">{{ participant.firstName }}</td>
          <td style="width: 20%">{{ participant.lastName }}</td>
          <td style="width: 15%">{{ participant.username }}</td>
          <td style="width: 15%">{{ participant.email }}</td>
          <td style="width: 15%">{{ participant.telephoneNumber }}</td>
          <td style="width: 15%">
            <button
              type="button"
              class="btn btn-primary"
              (click)="openChatWithUser(participant.id)"
            >
              Contact user
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
<p></p>
<div style="height: 20px"></div>
<div class="m-1 container">
  <div class="d-flex justify-content-center" style="width: 70%; margin: 0 auto">
    <button type="button" class="btn btn-primary btn-lg mx-3">
      Broadcast Message
    </button>
    @if(!closedGroup) {
    <button type="button" class="btn btn-warning btn-lg mx-3">
      Edit Listing
    </button>
    <button
      type="button"
      class="btn btn-success btn-lg mx-3"
      (click)="finalizeGroupBuy()"
    >
      Finalize Listing
    </button>
    <button
      type="button"
      class="btn btn-danger btn-lg mx-3"
      (click)="deleteGroupBuy()"
    >
      Cancel Listing
    </button>
    }
  </div>
</div>
