<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="broker/home">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="broker/groups">My listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="broker/new">Create new listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="broker/messages">Messages</a>
        </li>
      </ul>
      <div class="ms-auto">
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="logout">Logout</a>
          </li>
          <li class="nav-item d-flex align-items-center ms-4">
            <div>Logged in as:</div>
            <a
              class="nav-link"
              style="color: rgb(0, 101, 217)"
              href="broker/account"
              >{{ username }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
